.menu {
  width: 25%;
  background: #5b7cad;
  color: #fff;
  height: 100%;
  position: absolute;
  h1 {
    padding: 20px;
    margin: 0;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.2s linear;
  }
  h1:hover {
    background: #3e5982;
  }
}