.departures {
    input {
      display: block;
      text-align: center;
      margin: 10px auto;
      padding: 20px;
      font-size: 20px;
      color: #173666;
      border: 2px solid #173666;
    }

    button {
      display: block;
      text-align: center;
      margin: 10px auto;
      padding: 20px;
      font-size: 20px;
      color: #fff;
      background: #173666;
      border: 2px solid #173666;
      border-radius: 5px;
      width: 300px;
      transition: all 0.2s linear;
    }

    button:hover {
      background: #fff;
      color: #173666;
    }
}